:root {
  --sari: #FDC913;
  --bej: #FAF7F2;
  --kirmizi: #CE2829;
  --koyu-gri: #292929;
}

/* HEADER*/
body{ background-color: var(--bej)}

header {
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
.header-container {
background-image: url("./public/assets/iteration-1/home-banner.png");
 max-height: 100vh;
  background-size: cover;

object-fit:cover;
width: 100vw;
height:100vh;
display:flex;
flex-direction: column;
align-items:center;
   justify-content: flex-start;

}

.header-container .firsat{ 
font-family: "Satisfy", cursive;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
color:var(--sari);
}

.header-container .aciktirir{ 
font-family: "Roboto Condensed", sans-serif;
font-style: normal;
font-weight: 300;
font-size: 86px;
line-height: 92px;
width:40rem;
color: #FFFFFF;
text-align:center;
}


.header-container a{
font-family: "Barlow", sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
text-align: center;
color: #292929;
text-decoration:none;
background-color:var(--sari);
border-radius:50px;
width:12rem;
height:3.5rem;
display:flex;
align-items:center;
justify-content:center;
margin-top: 13px;
}

.header-container img {

    margin:3.5rem 0;
}

.header-nav {

    display:flex;
    justify-content:center;
    gap:2rem;
    width:100%;
    padding: 2rem 3rem;
    background-color:white;

  
}

.header-nav a{
    display:flex;
    text-decoration:none;
    font-family: "Barlow", sans-serif;
align-items: center;
justify-content:center;
font-weight: 500;
font-size: 1rem;
line-height: 32px;

}

.header-nav img{ 

margin-right:1rem;

}


/* MAIN */


.tanitim-red {
    
    background-image: url("./public/assets/iteration-2/cta/kart-1.png");
    background-position: cover;
    
    height: 28.125rem;
    width:33.1875rem;
    display:flex;
    flex-direction:column;
    padding:39px;
    border-radius:0.5rem;
    
}


.tanitim-siyah {
    background-image: url("./public/assets/iteration-2/cta/kart-2.png");
height: 220px;
background-size: contain;
border-radius:0.5rem;
padding:1.5rem 1.5rem;
}

    
.tanitim-hizli {
background-image: url("./public/assets/iteration-2/cta/kart-3.png");
background-size: contain;
height: 230px;
width:530px;
border-radius:0.5rem;
font-size:1.5rem;
padding:1.5rem 2rem;

}

.tanitim-banner {

    display:flex;
    justify-content:center;
    align-items: center;
    gap: 11px;
height: 28.125rem;
margin-top:4.25rem;
  

}

.ikili-banner {
    display:flex;
    flex-direction:column;
    height:450px;
    gap: 0.5rem;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    
}


.siparis-ver {

    
border-radius: 50px;
background-color:white;
padding: 1.5rem;
text-decoration:none;
font-family: "Barlow", sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
width:138px;
height:48px;
color: var(--kirmizi);
display:flex;
align-items:center;
justify-content:center;
margin-top:1rem;
}


.tanitim-red h2{

    font-family: "Quattrocento", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    color: #FFFFFF;
    line-height:5rem;
}

.tanitim-red p {

font-family: 'Barlow';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


}


.tanitim-red a {

    margin-top: 28px;
}


.tanitim-siyah{

    display:flex;
    flex-direction:column;
    padding: 2rem;
    

}

.tanitim-siyah h2 {

    color:white;
}

.tanitim-siyah a{
margin-top:1rem;
}


/* ---------------ÜRÜNLER------------------*/

.products {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.products h2{

font-family: Barlow;
font-weight: 600;
font-style: SemiBold;
font-size: 42px;
leading-trim: NONE;
line-height: 56.2px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

}


.products p{

font-family: "Satisfy", cursive;
font-weight: 400;
font-style: Regular;
font-size: 32px;
text-align: center;
color: var(--kirmizi);
margin-top: 3.43rem;

}

.products-items {
    display:flex;
    justify-content:center;
    width:55.625vw;
    gap:1rem;

    
}

.products-items a {
text-decoration:none;
font-family: Barlow;
font-weight: 500;
font-style: Medium;
font-size: 1rem;
leading-trim: NONE;
line-height: 32.4px;
letter-spacing: 0%;
text-align: center;

color: black;
}

.products-items img {
width:42px;
height:42px;
}

.products-btn {
    background-color:white;
    border-radius:1rem;
    display:flex;
    padding:0.5rem;
}

.products-btn:hover {

    background-color: var(--koyu-gri);
    a{
        color:white;
    }
    
}


.pizza-lists {
    display:flex;
    margin-top:1.5rem;
gap:2rem;
width: 62vw;

margin-bottom: 4rem;
}
.pizza-infos { 
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-top: 0.5rem;
   
}

.pizza-infos p {

 font-family: Barlow;
 color: #1B1B1BB2;
font-weight: 600;
font-size: 1rem;
vertical-align: middle;

}

.pizza-item {

    background-color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    border-radius: 12px;
    padding:2rem;
}


.pizza-infos p:last-child {

    font-weight:bold;
}

/* ---------------FOOTER------------------*/

footer {

    background-color: var(--koyu-gri);
    width:100vw;
    height:30rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    
    font-family: Barlow;
    color:white;
    padding: 3.627rem;
}




.contacts-infos{
    display:flex;
    flex-direction: column;
    gap:2rem;
    margin-top:1rem;
    

}


.contact-info {

display:flex;
flex-direction:row;
}

.contact-info img{
    height:1.75rem;
    width:1.75rem;
    margin-right: 0.8125rem;

}

.footer-div {

    display:flex;
    justify-content:center;
    gap:3.5rem;
    width:80vw;
   // margin-top:5rem;
       
}

.menu-linkler{
    display:flex;
    flex-direction:column;
    
}

.menu-linkler a{
font-family: Barlow;
font-weight: 400;
font-size: 1.5rem;
text-decoration:none;
color:white;

}

footer h3 {

font-family: Barlow;
font-weight: 500;
font-size: 1.5rem;
margin-bottom: 1.5rem;
}

.instagram{
   display:flex;
   flex-direction:column;
   width:21.68rem;
   
}
.instagram-photos {

 display:flex;
    flex-wrap: wrap;
     width: 100%;
    align-content:center;
    gap: 0.5rem;

}
.instagram-photos img{

    width: 6.625rem;
height:6.625rem;

}

.copyright {

    display:flex;
    
    justify-content: space-around;
    align-items: center;
    width:100vw;
    height:5.625rem;
    border-top: 1px solid #FFFFFF26;
    margin-top:1rem;
    padding:1rem;

}




/*MEDIA QUERIES   */
/* ----------------------------- */
@media (max-width: 480px) {

  /* HEADER */
header {
  width:430px;
  height: 100vh;
}

.header-container {
background-position:center; }

.aciktirir{
font-weight: 200;
font-size: 30px;
line-height: 30px;
width:20rem;
}

.header-nav {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;;
    gap:2rem;
    width:100%;
}

.pizza-lists {
  flex-wrap: wrap;
  width:80%
}


.footer-div {
  flex-wrap: wrap
}

footer {
   height:75rem;
}

.copyright {
  padding: 1rem;
}

.ikili-banner {
  width:100vw;
}


.tanitim-banner {

  flex-wrap:wrap;
}

.tanitim-red {
  height: 28.125rem;
    width:33.1875px;

}

}